body {
    text-align: center;
    position: relative;
}
.bucket {
    max-width: 75%;
    max-height: 600px;
}
.hidden {
    visibility: hidden;
}
#outside {
    z-index: 0;
    position: absolute;
}
#inside {
    position: absolute;
    z-index: -1;
}
#buckets {
    width: 100%;
    height: 100%;
}